#image-preview img {
    padding-left: 15px;
    padding-top: 15px;
}

  /* Style images differently at different breakpoints */
  @media (max-width: 576px) {
    #image-preview img {
      width: 300px !important;
      height: 300px !important;
    }
  }

  @media (max-width: 768px) and (min-width:576px) {
    #image-preview img {
      width: 250px !important;
      height: 250px !important;
    }
  }

  @media (max-width: 1200px) and (min-width:768px) {
    #image-preview img {
      width: 200px !important;
      height: 200px !important;
    }
  }

  @media (min-width: 1200px) {
    #image-preview img {
      width: 150px !important;
      height: 150px !important;
    }
}
