.navbar-brand {
  font-size: 2rem;
  color: black;
}

.navbar-brand:hover {
  color: black;
}


.cItem{
  height: 280px;
}

.cImg{
  height: 100%;
}

.btnFilter{
  background-color: #fff;
  border-width: 0;
  text-decoration: none;
  color: black;
}

.btnFilter:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.btnFilter:hover {
    color: #019fb6;
}

.btnFilter:hover:after { transform: scaleX(1); }

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}

.nav-link:hover{
  color: black;
}

.btnnav{
    border: 0;
    background-color: white;
}

ul.navbar-nav {
    display: flex;
    align-items: center;
}
.nav-link-button{
  text-decoration: none;
  color: inherit;
  background: none;
  padding: 0;
}

